body{
    /* background-image: radial-gradient(circle, #b2bc6f, #a4cd7e, #8edf95, #6defb4, #28ffda); */
    background-color: #AACCE2;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    font-size: 15px;
  }
/* top bar */
.topbar {
    height: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 4px solid #80808061;
    background-color: white;
  }
/* Menu Button google kelasroom */
.topbar > div:first-child{
    margin-left: 20px;
    width: 300px;
    color: black;
    display: flex;
  }  
.topbar div:first-child button:first-child > div{ 
    width: 18px;
    height: 3px;
    background-color: #9C9C9C;
    margin: 3px;
    border-radius: 5px;
    margin-left: 9px;
  }
.topbar div:first-child button:first-child:hover{
    background-color:#9c9c9c2e;
  }
.topbar div:first-child button:first-child{
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0;
    background-color: transparent;
    border-radius: 50px;
    width: 36px;
    height: 36px;
    border: none;
  }
.topbar div:first-child #google1{
    margin-left: 15px;
    margin-top: 20px;
  }
.topbar div:first-child #google2{
    margin-left: 3px;
    line-height: 66px;
    font-size: 20px;
    display: none;
  }
.topbar div:first-child #google3{
    margin-left: 3px;
    line-height: 65px;
    font-size: 20px;
  }
@media only screen and (max-width: 400px) {
    .topbar div:first-child #google1{
      display: none;
    }
    .topbar div:first-child #google2{
      display: block;
    }
}
/* ---------------------------------------------- */
/* Menu di Kanan */
.topbar > div:nth-child(2){
    margin-top: 25px;
    margin-left: 0px;
    height: 100%;
    width: 190px;
    border-radius: 10px;
    color: black;
    display: flex;
    justify-content: space-evenly;
    font-size: 22px;
  }
.topbar div:nth-child(2) i{
    color: #888888;
  }
.topbar div:nth-child(2) i:hover{
    color: black;
  }
/* ----------------------------------------------- */
.sidebar {
    background-color: #aacce2;
    padding: 10px;
    height: 100vh;
    width: 0px;
    margin-left: -128px;
    position: fixed;
    top: 0;
    box-shadow: 2px 2px 2px 2px #888888;
    transition: .5s;
  }
.sidebar div{
    background-color: #ffffff;
    padding: 14px 14px;
    color: black;
    display: flex;
    justify-content: flex-end;
    border-radius: 30px;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: -7px;
    transition: all 750ms;
  }
.sidebar div:hover{
    background-color: #9c9c9c;
  }

/* ----------------------------------------------  */
.score {
    font-size: 25px;
    color: white;
    text-align: left;
  }
.content {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
.content > div:first-child{
    background-image: url(../asset/kayaking.jpg);
    background-size: 100%;
    width: 900px;
    height: 168px;
    border-radius: 22px;
    font-size: 18px;
    margin: 10px;
  }
.content div:first-child h1{
    margin: 20px;
  }
.content > div:nth-child(2){
    height: 100%;
    border-bottom: 5px solid #6b7276;
    /* padding: 15px; */
    /* border-radius: 10px; */
    /* margin: 10px; */
    background-color: #a6a6a6;
    color: #010101;
    text-align: left;
  }
.answer{
    width: 99%;
    height: 30px;
  }
.content > div{
    width: 900px;
    height: 100%;
    border: 1px solid #80808075;
    /* padding: 15px; */
    /* border-radius: 10px; */
    /* margin: 10px; */
    background-color: white;
    text-align: center;
  }
.content div p{
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
.answerDesain{
    /* height: 100%; */
    border: 1px solid #0000000a;
    /* padding: 1px; */
    /* border-radius: 10px; */
    /* margin: 10px; */
    background-color: #e6e6e65c;
    /* color: white; */
    width: 99%;
    font-size: 12px;
    text-align: left;
  }
.assignClasswork{
    margin: 10px;
  }
textarea {
    width: 80%;
    height: 95px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  }
/* ----------------------------------------------  */
.userList {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.userList1 {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.hasil{
  width: 900px;
  text-align: left;
  margin-top: 20px;
  font-size: 20px;
  margin-left: 25px;
  margin-bottom: 7px;
}
.hasil1{
  width: 900px;
  text-align: left;
  border-top: 1px solid #009999;
  padding: 5px;
}
.hasil0{
  width: 900px;
  text-align: left;
  font-size: 25px;
  margin-left: 25px;
  margin-top: 45px;
  color: white;
}

.kembali{
  margin-top: 40px;
  width: 900px;
  /* height: 46px; */
  border-radius: 13px;
  background-color: white;
  font-size: 20px;
  border: 3px solid #9c9c9c29;
  display: flex;
  justify-content: center;
  line-height: 2.3;
  text-align: center;
}
.kembali:hover{
  background-color: #5372ff;
  color: white;
}