body{
    /* background-image: radial-gradient(circle, #b2bc6f, #a4cd7e, #8edf95, #6defb4, #28ffda); */
    background-color: #AACCE2;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    font-size: 15px;
  }
/* top bar */
.topbar {
    height: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 4px solid #80808061;
    background-color: white;
  }
/* Menu Button google kelasroom */
.topbar > div:first-child{
    margin-left: 20px;
    width: 300px;
    color: black;
    display: flex;
  }  
.topbar div:first-child button:first-child > div{ 
    width: 18px;
    height: 3px;
    background-color: #9C9C9C;
    margin: 3px;
    border-radius: 5px;
    margin-left: 9px;
  }
.topbar div:first-child button:first-child:hover{
    background-color:#9c9c9c2e;
  }
.topbar div:first-child button:first-child{
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0;
    background-color: transparent;
    border-radius: 50px;
    width: 36px;
    height: 36px;
    border: none;
  }
.topbar div:first-child div:nth-child(2){
    margin-left: 15px;
    margin-top: 20px;
  }
.topbar div:first-child div:nth-child(3){
    margin-left: 3px;
    line-height: 65px;
    font-size: 20px;
  }
/* ---------------------------------------------- */

/* ----------------------------------------------- */
.welcome{
    font-size: 50px;
    text-align: center;
    margin: 70px;
  }
/* ----------------------------------------------- */
.sidebar {
    background-color: #aacce2;
    padding: 10px;
    height: 100vh;
    width: 0px;
    margin-left: -128px;
    position: fixed;
    top: 0;
    box-shadow: 2px 2px 2px 2px #888888;
    transition: .5s;
  }
.sidebar div{
    background-color: #ffffff;
    padding: 14px 14px;
    color: black;
    display: flex;
    justify-content: flex-end;
    border-radius: 30px;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: -7px;
    transition: all 750ms;
  }
.sidebar div:hover{
    background-color: #9c9c9c;
  }

/* ----------------------------------------------  */
.content {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
.content > div:first-child{
    background-image: url(../asset/kayaking.jpg);
    background-size: 100%;
    width: 900px;
    height: 168px;
    border-radius: 22px;
    font-size: 18px;
    margin: 10px;
    line-height: 125px;
    text-align: center;
  }
.content div:first-child h1{
    margin: 20px;
  }
.class{
    width: 866px;
    height: 100%;
    /* border: 2px solid #ffffff; */
    padding: 15px;
    /* border-radius: 10px; */
    /* margin: 10px; */
    /* background-color: #686868; */
    /* color: white; */
    /* text-align: right; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
.kotak{
    width: 100px;
    height: 100px;
    margin: 5px;
    text-align: center;
    background-color: #686868;
    border-radius: 10px;
    border: 2px solid white;
    color: white;
  }

.kotak a{
    text-decoration: none;
    color: white;
    /* border: 1px solid white; */
    /* padding: 20px 0px; */
    width: 100px;
    height: 90px;
    margin-top: 10px;
    /* border: 1px solid; */
    display: inline-block;
    /* border-radius: 10px; */
  }

.kotak:hover{
    background-color: #e54f01;
  }

.classwork{
    width: 866px;
    height: 100%;
    border: 2px solid #80808075;
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
    background-color: white;
    display: flex;
  }
.classwork > div{
    width: 100%;
    height: 100%;
    /* border: 2px solid #80808075; */
    padding: 5px;
    border-radius: 10px;
    margin: 1px;
    background-color: white;
  }
.answer{
    width: 99%;
    height: 120px;
  }

@media only screen and (max-width: 650px) {
    .content {
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .content > div:first-child {
      background-image: url(../asset/kayaking.jpg);
      background-size: 100%;
      width: 900px;
      height: 168px;
      border-radius: 22px;
      font-size: 18px;
      margin: 10px;
      line-height: 125px;
      text-align: center;
    }
    .content div:first-child h1 {
      margin: 20px;
    }
    .class {
      width: 866px;
      height: 100%;
      /* border: 2px solid #ffffff; */
      padding: 15px;
      /* border-radius: 10px; */
      /* margin: 10px; */
      /* background-color: #686868; */
      /* color: white; */
      /* text-align: right; */
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .kotak {
      width: 100px;
      height: 100px;
      margin: 5px;
      text-align: center;
      background-color: #686868;
      border-radius: 10px;
      border: 2px solid white;
      color: white;
    }
    .kotak a {
      text-decoration: none;
      color: white;
      /* border: 1px solid white; */
      /* padding: 20px 0px; */
      width: 100px;
      height: 90px;
      margin-top: 10px;
      /* border: 1px solid; */
      display: inline-block;
      /* border-radius: 10px; */
    }
    .classwork {
      width: 858px;
      border: 2px solid #80808075;
      padding: 15px;
      border-radius: 10px;
      margin: 10px;
      background-color: white;
      display: inline-block;
    }
    .classwork > div {
      width: unset;
      border: unset;
      padding: unset;
      height: unset;
      border-radius: unset;
      margin-bottom: unset;
      background-color: unset;
      margin-left: unset;
      height: unset;
    }
    .answer {
      width: 99%;
      height: 88px;
    }
  }
@media only screen and (max-width: 458px) {
    .content > div:first-child{
      line-height: unset;
    }
  }

