<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
    <link rel="stylesheet" href="../css/register.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../asset/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" href="../asset/classroom.png">
</head>
<body>
    <div class="login">
        <img src="../asset/google.png" alt="">
        <h2>Create Account</h2>
        <div>
            <form>
                <input type="text" id="username" class="form1" placeholder="Username..."><br><br>
                <input type="password" id="password" class="form1" placeholder="Password..."><br><br>
                <input type="text" id="fullname" class="form1" placeholder="Fullname..."><br><br>
                <input type="text" id="email" class="form1" placeholder="Email..."><br><br>
            </form> 
        </div>
        <button class="button" onclick="daftar()">Student</button>
        <button class="button" onclick="daftarTch()">Teacher</button><br><br>
        <a href="../index.html">Login?</a>
    </div>
    <script
    src="http://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
    <script src="../js/registrasi.js"></script>
</body>
</html>